/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
} */

.root {
  display: flex;
  height: -webkit-fill-available;
}

.nav {
  width: 240px;
  background-color: #282c34;
}

.nav span {
  color: white;
}

.main {
  width: calc(100% - 240px);
  padding: 20px 20px;
}

table {
  font-size: 10px;
  text-transform: capitalize;
}

table th {
  background-color: #282c34;
  color: white !important;
}

.car-form {
  margin: auto;
  width: 30%;
}

/* span {
  color: #61dafb;
  cursor: default;
}

span:hover {
  color: brown;
}

p {
  width: 100%;
}

button {
  margin: 2% 1%;
  outline: none;
  border: 0;
  box-sizing: border-box;
  line-height: 1.75;
  font-weight: 500;
  border-radius: 4px;
  width: 15%;
  min-width: 64px;
  cursor: pointer;
  color: #fff;
  padding: 6px 16px;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
}

button:hover {
  background-color: #1976d2;
}

button:active {
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

button {
  text-transform: uppercase;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
